/* Display all math blocks in the starlight accent color. */
.katex {
  color: var(--sl-color-accent-high);
}

/* Remove margins added by starlight inside math expressions. */
.katex * {
  margin: 0 !important;
}

/* Display standalone math blocks on the left and add padding. */
math[display="block"] {
  padding: 1rem 0;
  text-align: left;
}
