/* Display all math blocks in the starlight accent color. */
.math-container {
  color: var(--sl-color-accent-high);

  /* Remove margins added by starlight inside math expressions. */
  * {
    margin: 0 !important;
  }
}

/* Make block math expressions horizontally scrollable on small screens. */
div.math-container {
  overflow: scroll hidden;

  /* Align block math expressions to the left. */
  math {
    text-align: left;
  }
}
