---
import Base from "../layouts/Base.astro";
---

<Base title="Error 404" lang="en">
  <div slot="main" class="flex flex-col items-center">
    <p class="p-4">404 Not found</p>
    <a href="/" class="rounded bg-gray-900 p-4">Return to Home</a>
  </div>
</Base>
