---
import Base from "../layouts/Base.astro";
---

<Base title="Home" lang="en">
  <h1 class="text-red-500">ICE Notes</h1>

  Notes for the Information and Computer Engineering course at University of
  Trento.
</Base>
