---
import A from "./html/A.astro";
---

<header class="fixed h-20 w-full border-b-4 border-gray-950 bg-gray-900 p-4">
  <A href="/" class="flex">
    <img src="/favicon.svg" alt="ice block" class="my-auto h-11" />
    <h1 class="my-auto text-xl font-bold">ICE Notes</h1>
  </A>
</header>
