---
import Header from "../components/Header.astro";
import HtmlHead from "../components/HtmlHead.astro";
import Main from "../components/Main.astro";
import Sidebar from "../components/Sidebar.astro";
import "../styles/globals.css";

interface Props {
  title: string;
  lang: "it" | "en";
}

const { title, lang } = Astro.props;
---

<html {lang} class="h-full scroll-smooth bg-gray-950 text-white">
  <HtmlHead {title} />

  <body class="flex h-full flex-col">
    <Header />
    <Sidebar />
    <Main><slot /></Main>
  </body>
</html>
